extends layout

block head
  title= 'Errors'

block content
  div#error(class='mt-5')
    h1= error.msg || message
    p= error.subMsg || error.status
    if user
      if user.permissions.includes('super')
        hr
        p= error.url
        p= error.trace
    pre #{error.stack}
