extends ../layout

block head
  title= title + 'New Session'

  style.
    .newQuestBut:hover {
        cursor: pointer;
        text-decoration: underline;
    }
block content
    div(class='row mt-5')
        div(class='col-11')
            div(class='siteCont')
                h3(class='text-center') New Session
                form#form(name='newSession' action='/admin/newgamesess' method="POST" enctype="multipart/form-data")
                    div(class='formItem')
                        p(class='formLabel') Session Quest
                        select#questSel(class='formTextInput' name='quest')
                            option(disabled selected value=null) --- Select Quest ---
                            for q in quests
                                option(value=q._id)= q.name
                        input#newQuest(type='text' name='newQuest' class='formTextInput d-none' placeholder='New Quest Name' value=null)
                        input#isNewQuest(type='checkBox' name='isNewQuest' class='d-none' checked=false)
                        p(class='text-right mt-1')
                            span(class='newQuestBut' onclick='newQuest(this)') New Quest                                                

                    div#selDM(class='formItem d-none')
                        p(class='formLabel') Quest DM
                        select(class='formSelInput' name='dm')
                            option(selected disabled value=null) --- Select DM ---
                            for pers in users
                                option(value=pers._id)= pers.userName
                                    |  (
                                    = pers.name
                                    | )

                    div(class='row mx-auto mt-4')
                        div(class='col-12 p-0 text-center mt-2')
                            button#formButton(class='buttonMain button w-100 amazing' style='right: 0;' onclick="updateDataBase()")
                                div(class='buttonText')
                                    p#saveText() Start
    script.
        function newQuest(but) {
            var sel = document.getElementById('questSel')
            var newQ = document.getElementById('newQuest')
            var check = document.getElementById('isNewQuest')
            var selDM = document.getElementById('selDM')
            if(check.checked) {
                check.checked = false
                sel.classList.remove('d-none')
                selDM.classList.add('d-none')
                newQ.classList.add('d-none')
                newQ.value = null
                but.innerHTML = 'New Quest'
            } else {
                check.checked = true
                sel.classList.add('d-none')
                selDM.classList.remove('d-none')
                sel.selectedIndex = 0
                newQ.classList.remove('d-none')
                but.innerHTML = 'Cancel'
            }
            
        }