div(class='col-lg-6')
    div(class='shopItem' )
        div(class='itemDetails')
            div(class='toggleInfoBut' onclick=`toggleModal("${item.name} Details", this.parentNode.children[1].innerHTML)`)
                svg(xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16")
                    path(d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
            div(class='itemInfo')
                if item.desc.length > 0
                    | Description:
                    p= item.desc
                p Weight: 
                    = item.weight
                p Cost: 
                    = item.cost.quantity + item.cost.unit
                if item.equipment_category
                    p Equipment Category: 
                        = item.equipment_category.name
                if item.gear_category
                    p Gear Category: 
                        = item.gear_category.name
                if item.category_range
                    p Category Range: 
                        = item.category_range
                if item.damage
                    p Damage:
                        = item.damage.damage_dice
                        | , 
                        = item.damage.damage_type.name
                if item.contents
                    p Contents: 
                        = item.contents
                if item
        div(id=item.name class='shop row' onclick='selectItem(this)' data-cost=item.cost.quantity data-weight=item.weight)
            label(class='col-2 shopCheck')
                input(type='checkbox' checked=false)
                div

            div(class='col-10')
                p(class='m-0 itemName')= item.name
                p(class='m-0 ')
                    div(class='row mx-auto itemInfo')
                        div(class='col-12 pl-0')
                            | Cost: 
                            =item.cost.quantity + item.cost.unit
                            | &nbsp;&nbsp;
                            if item.weight
                                | Weight: 
                                =item.weight
                                | lb



//-             div(class='col-lg-6')
//-                 div(class='shopItem' )
//-                     div(class='oops')
//-                         p
//-                     div(class='itemDetails')
//-                         div(class='toggleInfoBut' onclick='toggleInfo(this)')
//-                             svg(xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16")
//-                                 path(d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
//-                         p Type: 
//-                             = item.type
//-                         p Strength: 
//-                             = item.strength
//-                         p Stealth: 
//-                             = item.stealth
//-                         p Class: 
//-                             = item.class
