extends ../layout

block head
  title= title + thisUser.userName

  style.
    .errorText {
        position: relative;
        color: red;
        font-size: 11pt;
        transition: .5s;
    }
    .profileImageCont.error {
        border: 2px solid red;
    }
    .passBut {
        font-size: 12pt;
        color: rgba(255, 255, 255, 0.856);
    }
    .passBut:hover {
        color: rgba(255, 255, 255, 0.514);
    }
    #userName {
        font-size: 8vmin;
    }
    #email {
        font-size: 5vmin;
    }
    /* small screen */
    @media (min-width: 768px) {
      #userName {
        font-size: 4vmin;
    }
    #email {
        font-size: 3vmin;
    }
    }

block content
    div(class='row mt-5')
        if loggedUser || user.access.includes('super') || user.access.includes('admin')
            form#profile(class='col-11 col-md-7 col-lg-6 mx-auto' method="POST" enctype="multipart/form-data" onload='setFields()')
                if message
                    div#formMessage(class='success mb-2')
                        p= message
                div(class='w-100 text-around siteCont')
                    if user.access.includes('super') || user.access.includes('admin')
                        input#name(type='text' class='m-0 editableText text-right' style='' spellcheck="false" onfocusin='setInfo(this)' onfocusout='updateInfo(this)' placeholder='Name' data-req='true' data-orig=thisUser.name value=thisUser.name)
                    else
                        p#name(class='w-100 text-right' style='font-size: 1.75vmin;')=thisUser.name

                    div(class='mx-auto mt-3' style='height: 120px; width: 120px; position: relative;')
                        button#removeImgBut(class='buttonMain button removeImgBut' onclick='removeNewImage()' style='display: none;') X
                        label(class='w-100 h-100')
                            input#profileImageSelect(type='file' name='profileImage' class='d-none file' data-type='image' onchange='getImageInfo(this)')
                            div#profileImageCont(class='profileImageCont imageEdit h-100 w-100' )
                                if thisUser.profileImage
                                    img#profileImage(src=thisUser.profileImage class='profileImage' data-orig=thisUser.profileImage style='display: block;')
                                else
                                    p#profileImageLetter(class='profileImageLetter' style='font-size: 48pt;')= thisUser.userName.substring(0,1).toUpperCase()
                                    img#profileImage(src=null class='profileImage' style='display: none;')
                                svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-camera" viewBox="0 0 16 16")
                                    path(style='color: white;' d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z")
                                    path(d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z")
                        
                    div#fields(class='w-100 mx-auto text-center mt-2 font-Alegreya')
                        
                        input#userName(type='text' class='m-0 editableText titleText' style='' spellcheck="false" onfocusin='setInfo(this)' onfocusout='updateInfo(this)' placeholder='Username' data-req='true' data-orig=thisUser.userName value=thisUser.userName)
                        input#email(type='text' class='m-0 mt-1 editableText titleText' style='' spellcheck="false" onfocusin='setInfo(this)' onfocusout='updateInfo(this)' placeholder='Email' data-req='true' data-orig=thisUser.email value=thisUser.email)
                    
                    div(class='mt-2')
                        ul#errorText(class='w-100 px-3 mx-auto errorText' style='display: none;')

                    div#saveButton(class='text-right profileSaveButton mt-2')
                        button#formButton(class='buttonMain button w-100 col-md-4' style='right: 0;' onclick="updateDataBase()")
                            div(class='buttonText')
                                p#saveText() Save
                                img#loadingGif(class='loadingGif' src='/images/loading.gif')

                    //- div#saveButton(class='text-left passBut')
                    //-     button#formButton(class='buttonMain button w-100 col-md-4' style='right: 0;' onclick='window.location.href="/users/newpass"')
                    //-         div(class='buttonText')
                    //-             p New Password
                    div(class='w-100 text-right mt-2')
                        a(class='passBut' href='/users/newpass/user=' + thisUser._id data-tip='Set New Password') New Password
                if loggedUser
                    div(class='w-100 text-right my-2')
                        button#formButton(class='buttonMain button cation w-100 col-md-4' style='right: 0;' onclick='window.location.href="/users/logout"')
                            div(class='buttonText')
                                p#saveText() Log Out

            if user.access.includes('admin') || user.access.includes('super')
                if allUsers 
                    div(class='col-11 col-md-7 col-lg-6 mx-auto')
                        div(class='siteCont')
                            h3(class='titleText text-center') All Users
                            p(class='text-right mb-2')
                                a(class='' href='/admin/invite') Invite New User
                            for mem in allUsers
                                a(class='userId' href='/users/dashboard/user=' + mem._id)
                                    div(class='profileImageCont' style='height: 35px; width: 35px;')
                                        if mem.profileImage
                                            img(class='profileImage' src=mem.profileImage)
                                        else
                                            p(class='profileImageLetter')= mem.userName.substring(0,1).toUpperCase()

                                    p(class='idUserName')= mem.userName
        else 
            div#profile(class='col-11 col-md-7 col-lg-6 mx-auto' )
                div(class='w-100 text-around siteCont')
                    if user.access.includes('super') || users.access.includes('admin')
                        p#name(class='w-100 text-right' style='font-size: 1.75vmin;')=thisUser.name

                    div(class='mx-auto mt-3' style='height: 120px; width: 120px; position: relative;')
                        div#profileImageCont(class='profileImageCont h-100 w-100' )
                            if thisUser.profileImage
                                img#profileImage(src=thisUser.profileImage class='profileImage' data-orig=thisUser.profileImage style='display: block;')
                            else
                                p#profileImageLetter(class='profileImageLetter' style='font-size: 48pt;')= thisUser.userName.substring(0,1).toUpperCase()
                        
                    div#fields(class='w-100 mx-auto text-center mt-2 font-Alegreya')
                        p#userName(type='text' class='m-0 titleText' style='')= thisUser.userName
                        p#email(type='text' class='m-0 mt-1 titleText' style='')= thisUser.email
      
    
    script.
        var info = {}
        var orig = {}
        var img
        var imgData
        var origImg
        var form = document.querySelector('form')

        document.getElementById('profile').addEventListener("load", setFields())

        function setFields() {
            var fields = document.getElementById('fields').children
            var file = document.getElementById('profileImageSelect')
            for(var i = 0; i < fields.length; i++) {
                var field = fields[i]
                field.value = field.getAttribute('data-orig')
            }
            file.value = null
        }

        form.addEventListener('submit', e => {
            e.preventDefault();
        });

        function setInfo(field) {
            if(orig[field.id]) {
                info[field.id] = field.value
            } else {
                info[field.id] = field.value
            }
        }

        async function updateInfo(field) {
            var button = document.getElementById('saveButton')
            
            info[field.id] = field.value

            if(info[field.id] != field.getAttribute('data-orig')) {
                console.log('Input value for ' + field.id + ' changed.')
                button.classList.add('saveButtonVisible')
            } else {
                field.classList.remove('error')
                delete info[field.id]
                checkFields()
            }
        }

        function checkFields() {
            var changed = false
            var button = document.getElementById('saveButton')
            var err = document.getElementById('errorText')
            for(var i = 0; i < Object.keys(info).length; i++) {
                var item = info[Object.keys(info)[i]]
                var org = orig[Object.keys(info)[i]]
                if(item != org) {
                    changed = true
                }
            }
            if(img) {
                changed = true
            }

            if(!changed) {
                button.classList.remove('saveButtonVisible')
                err.style.display = 'none';
                info = {}
            }
        }

        function getImageInfo(files) {
            var button = document.getElementById('saveButton')
            var file = files.files[0];
            var imgReader = new FileReader();
            var proImg =  document.getElementById('profileImage')

            imgReader.onloadend = function() {
                
                if(!img) {
                    origImg = proImg.src
                }
                img = file

                document.getElementById('removeImgBut').style.display = 'block'
                proImg.style.display = 'block'
                proImg.src = imgReader.result
                imgData = imgReader.result

                button.classList.add('saveButtonVisible')

                checkFields()
            }
            imgReader.readAsDataURL(file);
        }

        function removeNewImage() {
            var button = document.getElementById('saveButton')
            var proImg =  document.getElementById('profileImage')
            var imgCont =  document.getElementById('profileImageCont')
            var file = document.getElementById('profileImageSelect')

            if(proImg.getAttribute('data-orig')) {
                proImg.src = proImg.getAttribute('data-orig')
            } else {
                proImg.style.display = 'none'
                proImg.src = ''
            }
            
            img = false
            imgCont.classList.remove('error')
            document.getElementById('removeImgBut').style.display = 'none'
            file.value = null
            checkFields()
        }


        async function updateDataBase() {
            var saveBut = document.getElementById('saveButton')
            var saveText = document.getElementById('saveText')
            var gif = document.getElementById('loadingGif')

            var currUrl = window.location.href
            id = currUrl.substring(currUrl.length - 24)
            
            await checkForErrors(true)

            gif.style.display = 'block'
            saveText.style.display = 'none'

            const files = document.querySelector('[name=profileImage]').files;

            const formData = new FormData();

            formData.append('profileImage', img);
            for(var i = 0; i < Object.keys(info).length; i++) {
                var item = info[Object.keys(info)[i]]
                formData.append(Object.keys(info)[i], item)
            }

            var updated = await updateDB('/forms/updateprofile/' + id, formData)
            
            if(updated) {
                if(img) {
                    var profImages = document.getElementsByClassName('profileImage')
                    var imageXBut = document.getElementById('removeImgBut')
                    for(var i = 0; i < profImages.length; i++) {
                        thisImg = profImages[i]
                        thisImg.src = imgData
                    }
                    imageXBut.style.display = 'none'
                }
                gif.style.display = 'none'
                saveText.style.display = 'block'
                saveBut.classList.remove('saveButtonVisible')
            }
        }

        function togglePass(show) {
            var passCont = document.getElementById('newPass')
            var passBut = document.getElementById('passBut')
            var fields = passCont.children
            if(show) {
                passCont.style.display = 'block'
                passBut.classList.remove('saveButtonVisible')
            } else {
                passCont.style.display = 'none'
                passBut.classList.add('saveButtonVisible')
                fields[0].value = ''
                fields[1].value = ''
            }
        }