extends ../layout

block head
  title= title + thisUser.userName

  style.
    .errorText {
        position: relative;
        color: red;
        font-size: 11pt;
        transition: .5s;
    }
    .profileImageCont.error {
        border: 2px solid red;
    }
    .passBut {
        font-size: 12pt;
        color: rgba(255, 255, 255, 0.856);
    }
    .passBut:hover {
        color: rgba(255, 255, 255, 0.514);
    }
    #userName {
        font-size: 8vmin;
    }
    #email {
        font-size: 5vmin;
    }
    /* small screen */
    @media (min-width: 768px) {
        #userName {
            font-size: 4vmin;
        }
        #email {
            font-size: 3vmin;
        }
    }
    .eventLink {
        color: rgba(255, 255, 255, 0.856);
    }
    .eventLink:hover {
        color: rgba(255, 255, 255, 0.856);
    }
    .event {
        position: relative;
        border-left: 2px solid rgba(255, 255, 255, 0.856);
        padding-left: 8px;
        
    }
    .event .date {
        font-size: 8pt;
        margin: 0;
    }
    .event .name {
        font-size: 14pt;
        margin: 0;
    }

    .event .name a {
        text-decoration: none;
    }

    .editLink {
        cursor: pointer;
    }
    .editLink span span {
        font-size: 8pt;
    }
    .editLink:hover {
        text-decoration: underline;
    }
    .userImage {
        position: absolute;

        width: 101%;
        height: 101%;
        object-fit: cover;

        border:none;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

block content
    div(class='row mt-1 mt-md-5')
        div#leftPanel(class='col-12 col-md-8 mx-auto p-0')
            if loggedUser || ((user.access.includes('super') || user.access.includes('admin') && !thisUser.access.includes('super')))
                form#profile(class='col-12 pr-md-2 p-0' method="POST" enctype="multipart/form-data" onload='setFields()')
                    if message
                        div#formMessage(class='success mb-2')
                            p= message
                    else
                        if error
                            div#formMessage(class='error mb-1')
                                p= error
                    div(class='w-100 siteCont')
                        if user.access.includes('super') || user.access.includes('admin')
                            input#name(type='text' class='m-0 editableText text-right pr-2' style='' spellcheck="false" onfocusin='setInfo(this)' oninput='updateInfo(this)' placeholder='Name' data-req='true' data-orig=thisUser.name value=thisUser.name)
                        else
                            div(class='text-right')
                                p(style='margin-left: auto; font-size: 1.75vmin; width: 100px; white-space: nowrap; cursor: not-allowed;' data-tip='Your name can only be changed by a site admin')=thisUser.name

                        div(class='mx-auto mt-3' style='height: 120px; width: 120px; position: relative;')
                            button#removeImgBut(class='buttonMain button removeImgBut' onclick='removeNewImage()' style='display: none;') X
                            label(class='w-100 h-100')
                                input#profileImageSelect(type='file' name='profileImage' class='d-none file' data-type='image' onchange='getImageInfo(this)')
                                div#profileImageCont(class='profileImageCont imageEdit h-100 w-100' )
                                    if thisUser.profileImage
                                        img#profileImageMain(src=thisUser.profileImage class='profileImage' data-orig=thisUser.profileImage style='display: block;')
                                    else
                                        div#profLetter(class='w-100 h-100 profileImageLetterCont')
                                            p(class='profileImageLetter' style='font-size: 48pt;')= thisUser.userName.substring(0,1).toUpperCase()
                                        img#profileImageMain(src=null class='profileImage' style='display: none;')
                                    svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-camera" viewBox="0 0 16 16")
                                        path(style='color: white;' d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z")
                                        path(d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z")
                                
                                if thisUser.adminRole
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill profIn ml-1" viewBox="0 0 16 16" data-tip=thisUser.adminRole.name)
                                        path(class=thisUser.adminRole.class d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z")
                        div#fields(class='w-100 mx-auto text-center mt-2 font-Alegreya')
                            
                            input#userName(type='text' class='m-0 editableText titleText' style='' spellcheck="false" onfocusin='setInfo(this)' oninput='updateInfo(this)' placeholder='Username' data-req='true' data-orig=thisUser.userName value=thisUser.userName)
                            
                            input#email(type='text' class='m-0 mt-1 editableText titleText' style='' spellcheck="false" onfocusin='setInfo(this)' oninput='updateInfo(this)' placeholder='Email' data-req='true' data-orig=thisUser.email value=thisUser.email)
                        
                            input#bio(type='text' class='m-0 mt-1 editableText quoteText' style='' spellcheck="false" onfocusin='setInfo(this)' oninput='updateInfo(this)' placeholder='Bio' data-orig=thisUser.bio value=thisUser.bio)                            

                        div(class='mt-2')
                            ul#errorText(class='w-100 px-3 mx-auto errorText' style='display: none;')

                        div#saveButton(class='text-right profileSaveButton mt-2')
                            button(class='buttonMain button great w-100 col-md-4' style='right: 0;' onclick="updateDataBase()")
                                div(class='buttonText')
                                    img#loadingGif(class='loadingGif' style='display: none;' src='/images/loading.gif')
                                    p#saveText Save
                                

                        //- div#saveButton(class='text-left passBut')
                        //-     button#formButton(class='buttonMain button w-100 col-md-4' style='right: 0;' onclick='window.location.href="/users/newpass"')
                        //-         div(class='buttonText')
                        //-             p New Password
                        div(class='w-100 text-right mt-2')
                            a(class='passBut' href='/users/newpass/user=' + thisUser._id data-tip='Set New Password') New Password
                        if loggedUser
                            div(class='w-100 text-right my-2')
                                button#formButton(class='buttonMain button cation w-100 col-md-4' style='right: 0;' onclick='window.location.href="/users/logout"')
                                    div(class='buttonText')
                                        p#saveText() Log Out

            else 
                div(class='col-12 pr-md-2')
                    div(class='siteCont')
                        if user.access.includes('admin') || user.access.includes('super')
                            p#name(class='w-100 text-right' style='font-size: 1.75vmin;')=thisUser.name
                                if user.error
                                    span = error

                        div(class='mx-auto mt-3' style='height: 120px; width: 120px; position: relative;')
                            div#profileImageCont(class='profileImageCont h-100 w-100' )
                                if thisUser.profileImage
                                    img#profileImage(src=thisUser.profileImage class='profileImage' data-orig=thisUser.profileImage style='display: block;')
                                else
                                    div(class='w-100 h-100 profileImageLetterCont')
                                        p#profileImageLetter(class='profileImageLetter' style='font-size: 48pt;')= thisUser.userName.substring(0,1).toUpperCase()

                                    
                        div#fields(class='w-100 mx-auto text-center mt-2 font-Alegreya')
                            p#userName(type='text' class='m-0 titleText' style='')= thisUser.userName
                                if thisUser.adminRole
                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill prof ml-1" viewBox="0 0 16 16" data-tip=thisUser.adminRole.name)
                                        path(class=thisUser.adminRole.class d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z")
                            p#email(type='text' class='m-0 mt-1 titleText' style='')= thisUser.email
                            if thisUser.bio
                                p#bio(type='text' class='m-0 mt-1 quoteText' style='')= thisUser.bio

           
            div(class='col-12 p-0 mx-auto mt-2 pr-md-2')
                div(class='siteCont')
                    h3(class='titleText text-center') User Characters
                        if loggedUser && !gameSession && !user.access.includes('admin') && !user.access.includes('super')
                            | &nbsp;&nbsp;
                            svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16" data-tip='Characters can only be created during a game session.')
                                path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                path(d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z")
                    if (loggedUser && gameSession)
                        div(class='col-12 text-right')
                            button(class='buttonMain great' style='height: 30px; width: 30px;' onclick="window.location.href='/users/newcharacter/user=" + thisUser._id + "'" data-tip='Add New Character')
                                div(class='buttonText w-100 h-100')
                                    svg(xmlns="http://www.w3.org/2000/svg" style='position: relative; top: -4px;' width="100%" height="100%" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
                                        path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z")
                    else
                        if user.access.includes('super') || (user.access.includes('admin') && !thisUser.access.includes('super'))
                            div(class='col-12 text-right')
                                button(class='buttonMain great' style='height: 30px; width: 30px;' onclick="window.location.href='/users/newcharacter/user=" + thisUser._id + "'" data-tip='Add New Character')
                                    div(class='buttonText w-100 h-100')
                                        svg(xmlns="http://www.w3.org/2000/svg" style='position: relative; top: -4px;' width="100%" height="100%" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
                                            path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z")

                        //- p(class='text-right mb-2')
                        //-     a(class='' href='/users/newcharacter/user=' + user._id) New Character
                    div(class='row w-100 mx-auto mb-1')
                        if chars.length > 0
                            div(class='w-100')
                                hr
                            for char in chars
                                div(class='col-6 col-md-4 col-lg-3 mb-2 mb-sm-0 px-2 mt-2')
                                    div(class='charCard' onclick='window.location.href="/users/character=' + char._id + '"')
                                        div(class='charCardInfo')
                                            if char.artWork
                                                img(class='charCardImg' src=char.artWork)
                                                p(class='charCardTitle img')
                                                    strong= char.name
                                            else
                                                p(class='charCardTitle')= char.name
                        else
                            div(class='text-center w-100 font-Alegreya')
                                hr
                                h1 No characters yet
                    hr
                    div(class='text-center mt-2')
                        button(class='buttonMain button col-md-4' onclick="window.location.href='/users/allcharacters'")
                            div(class='buttonText')
                                p View All Characters
        
        
        if loggedUser
            div#rightPanel(class='col-12 col-md-4 mx-auto p-0')  
                if (user.access.includes('admin') || user.access.includes('super')) && !gameSession
                    div(class='col-12 p-0 mt-2 mt-md-0 mb-md-2 pr-md-3 pl-md-0')
                        div(class='siteCont')
                            h3(class='titleText text-center') Game Session
                            div#sessButton(class='text-center mt-2')
                                button(class='buttonMain button amazing col-12' onclick='window.location.href="/admin/newgamesess"')
                                    div(class='buttonText')
                                        p Start Game Session
                else
                    if (user.access.includes('admin') || user.access.includes('super')) && gameSession
                        div(class='col-12 mt-2 mt-md-0 mb-md-2 pl-md-0')
                            div(class='siteCont')
                                h3(class='titleText text-center') Game Session
                                //- div#sessButton(class='text-center mt-2')
                                //-     button(class='buttonMain button amazing col-12' onclick='window.location.href="/users/gamesession/user=' + thisUser._id + '"')
                                //-         div(class='buttonText')
                                //-             p Enter Game Session
                                form#endSessButton(class='text-center mt-2' method='POST' action='/admin/endgamesess' enctype="multipart/form-data")
                                    button(class='buttonMain button cation col-12')
                                        div(class='buttonText')
                                            p End Game Session
                        
                    //- else 

                    //-     if(loggedUser && gameSession)
                    //-         div(class='col-12 mt-2 mt-md-0 mb-md-2 pl-md-0')
                    //-             div(class='siteCont')
                    //-                 h3(class='titleText text-center') Game Session
                    //-                 div#sessButton(class='text-center mt-2')
                    //-                     button(class='buttonMain button amazing col-12' onclick='window.location.href="/users/gamesession/user=' + thisUser._id + '"')
                    //-                         div(class='buttonText')
                    //-                             p Enter Game Session

                if allUsers
                    div(class='col-12 mt-2 p-0 mt-md-0 pr-md-3 pl-md-0')
                        div(class='siteCont')
                            h3(class='titleText text-center') All Users
                            if user.access.includes('admin') || user.access.includes('super')
                                //- p(class='text-right mb-2')
                                //-     a(class='' href='/admin/invite') Invite New User
                                div(class='col-12 pr-md-0 text-right')
                                    button(class='buttonMain great' style='height: 30px; width: 30px;' onclick="window.location.href='/admin/invite'" data-tip='Invite New Player')
                                        div(class='buttonText w-100 h-100')
                                            svg(xmlns="http://www.w3.org/2000/svg" style='position: relative; top: -4px;' width="100%" height="100%" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
                                                path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z")
                            div(class='row mx-auto')
                                for mem in allUsers
                                    if !mem.invite
                                        div(class='col-6 col-md-12 col-xl-6')
                                            div(class='userId' onclick='window.location.href="/users/dashboard/user=' + mem._id + '"')
                                                div(class='profileImageCont' style='height: 35px; width: 35px;')
                                                    if mem.profileImage
                                                        img(class='userImage' src=mem.profileImage)
                                                    else
                                                        div(class='w-100 h-100 profileImageLetterCont')
                                                            p(class='profileImageLetter')= mem.userName.substring(0,1).toUpperCase()

                                                p(class='idUserName')= mem.userName
                                                    if mem.adminRole
                                                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-key-fill ml-1" viewBox="0 0 16 16" data-tip=mem.adminRole.name)
                                                            path(class=mem.adminRole.class d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z")

                div(class='col-12 mt-2 p-0 mb-md-2 pr-md-3 pl-md-0')
                    div(class='siteCont picBack')
                        div(class='picBackCont')
                            img(class='siteContPic' src="/images/map/mapPrev.jpg")
                        div#mapLinkBut(class='text-center mt-2 d-none d-md-block')
                            button(class='buttonMain button great dark col-12' onclick='window.location.href="/lore/map"')
                                div(class='buttonText')
                                    p Interactive Map (Beta)
                        div(class='d-md-none text-center')
                            p(class='m-0') Log onto a computer to view the 
                                em Interactive Map (Beta)
                                | .

                if loggedUser
                    div(class='col-12 p-0 mt-2 pr-md-3 pl-md-0')
                        div(class='siteCont')
                            h3(class='titleText text-center') Upcoming Events
                            if user.access.includes('admin') || user.access.includes('super')
                                //- p(class='text-right mb-2')
                                //-     a(class='' href='/admin/newevent') New Event
                                div(class='col-12 pr-md-0 text-right')
                                    button(class='buttonMain great' style='height: 30px; width: 30px;' onclick="window.location.href='/admin/newevent'" data-tip='Add New Event')
                                        div(class='buttonText w-100 h-100')
                                            svg(xmlns="http://www.w3.org/2000/svg" style='position: relative; top: -4px;' width="100%" height="100%" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16")
                                                path(d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z")
                            div
                                for evnt in events                                        
                                    div(class='event')
                                        a(href='/event/' + evnt._id class='eventLink')
                                            p(class='date')= evnt.date.toLocaleString('default', {timeZone: 'UTC', weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
                                            p(class='name')= evnt.name
                                        if user.access.includes('admin') || user.access.includes('super')
                                            hr(class='m-0 my-1 w-50')
                                            div(class='editLink')
                                                span(onclick=href='window.location.href="/admin/edit/event=' + evnt._id + '"')
                                                    svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16")
                                                        path(d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z")
                                                    span  Edit
                    if user.access.includes('admin') || user.access.includes('super')
                        div(class='col-12 p-0 my-2 pr-md-3 pl-md-0')
                            div(class='siteCont')
                                h3(class='text-center') Admin Tasks
                                p
                                    a(href='/admin/homebrew') Homebrew
                                p
                                    a(href='/admin/shoplist') Shops
                                if user.access.includes('super')
                                    p
                                        a(href='/admin/siteUpdate') Add Site Update
                                    p
                                        a(href='/admin/site/errors') Site Errors
                                            
                                    
      
    
    script.
        var info = {}
        var orig = {}
        var img
        var imgData
        var origImg
        var form = document.querySelector('form')

        document.getElementById('profile').addEventListener("load", setFields())

        function setFields() {
            var fields = document.getElementById('fields').children
            var file = document.getElementById('profileImageSelect')
            for(var i = 0; i < fields.length; i++) {
                var field = fields[i]
                field.value = field.getAttribute('data-orig')
            }
            file.value = null
        }

        form.addEventListener('submit', e => {
            e.preventDefault();
        });

        function setInfo(field) {
            if(orig[field.id]) {
                info[field.id] = field.value
            } else {
                info[field.id] = field.value
            }
        }

        async function updateInfo(field) {
            var button = document.getElementById('saveButton')
            
            info[field.id] = field.value

            if(info[field.id] != field.getAttribute('data-orig')) {
                console.log('Input value for ' + field.id + ' changed.')
                button.classList.add('saveButtonVisible')
            } else {
                field.classList.remove('error')
                delete info[field.id]
                checkFields()
            }
        }

        function checkFields() {
            var changed = false
            var button = document.getElementById('saveButton')
            var err = document.getElementById('errorText')
            for(var i = 0; i < Object.keys(info).length; i++) {
                var item = info[Object.keys(info)[i]]
                var org = document.getElementById(Object.keys(info)[i]).getAttribute('data-orig')
                if(item != org) {
                    changed = true
                }
            }
            if(img) {
                changed = true
            }

            if(!changed) {
                button.classList.remove('saveButtonVisible')
                err.style.display = 'none';
                info = {}
            }
        }

        function getImageInfo(files) {
            var button = document.getElementById('saveButton')
            var profLetter = document.getElementById('profLetter')
            var file = files.files[0];
            var imgReader = new FileReader();
            var proImg = document.getElementById('profileImageMain')

            imgReader.onloadend = function() {
                
                if(!img) {
                    origImg = proImg.src
                }
                img = file
                
                document.getElementById('removeImgBut').style.display = 'block'
                proImg.style.display = 'block'
                if(profLetter) {
                    profLetter.style.display = 'none'
                }

                proImg.src = imgReader.result
                imgData = imgReader.result

                button.classList.add('saveButtonVisible')

                checkFields()
            }
            imgReader.readAsDataURL(file);
        }

        function removeNewImage() {
            var button = document.getElementById('saveButton')
            var proImg =  document.getElementById('profileImageMain')
            var profLetter = document.getElementById('profLetter')
            var imgCont =  document.getElementById('profileImageCont')
            var file = document.getElementById('profileImageSelect')

            if(proImg.getAttribute('data-orig')) {
                proImg.src = proImg.getAttribute('data-orig')
            } else {
                proImg.style.display = 'none'
                profLetter.style.display = 'block'
                proImg.src = ''
            }
            
            img = false
            imgCont.classList.remove('error')
            document.getElementById('removeImgBut').style.display = 'none'
            file.value = null
            checkFields()
        }


        async function updateDataBase() {
            var saveBut = document.getElementById('saveButton')
            var saveText = document.getElementById('saveText')
            var gif = document.getElementById('loadingGif')
            
            var currUrl = window.location.href
            id = currUrl.substring(currUrl.length - 24)
            
            var errors = await checkForErrors({id: id, field: ['name', 'email', 'userName']}, 'users')
            
            if(errors) {
                
                var err = document.getElementById('errorText')
                err.innerHTML = ''

                for(var i = 0; i < errors.length; i++) {
                    var li = document.createElement('li')
                    li.innerHTML = errors[i]
                    err.append(li)
                }
                err.style.display = 'block'
            } else {
                
                gif.style.display = 'block'
                saveText.style.display = 'none'

                const files = document.querySelector('[name=profileImage]').files;
                
                const formData = new FormData();
                
                if(img) {
                    formData.append('profileImage', img, img.name);
                }
                
                
                for(var i = 0; i < Object.keys(info).length; i++) {
                    var item = info[Object.keys(info)[i]]
                    formData.append(Object.keys(info)[i], item)
                }
                
                
                var updated = await updateDB('/users/updateprofile/' + id, formData)
                
                if(updated) {
                    if(img) {
                        var profImages = document.getElementsByClassName('profileImage')
                        var imageXBut = document.getElementById('removeImgBut')
                        for(var i = 0; i < profImages.length; i++) {
                            thisImg = profImages[i]
                            thisImg.src = imgData
                        }
                        imageXBut.style.display = 'none'
                    }
                    if(info.userName) {
                        document.getElementById('userMenName').children[0].innerHTML = info.userName
                    }
                    for(var i = 0; i < Object.keys(info).length; i++) {
                        var key = Object.keys(info)[i]
                        var item = document.getElementById(key)
                        item.setAttribute('data-orig', info[key])
                    }
                    gif.style.display = 'none'
                    saveText.style.display = 'block'
                    saveBut.classList.remove('saveButtonVisible')
                }
            }

            

            

            
        }

        function togglePass(show) {
            var passCont = document.getElementById('newPass')
            var passBut = document.getElementById('passBut')
            var fields = passCont.children
            if(show) {
                passCont.style.display = 'block'
                passBut.classList.remove('saveButtonVisible')
            } else {
                passCont.style.display = 'none'
                passBut.classList.add('saveButtonVisible')
                fields[0].value = ''
                fields[1].value = ''
            }
        }