extends ../layout

block head
    title= title + 'New Character'

    style.
        #artWorkCont {
            position: relative;
            border-radius: 4px;
            background-color: #0a3350;
            border: 2px solid #0C3B5D;
            color: white;
            box-shadow: 0 0 4px black;
            overflow: hidden;
            transition: .5s;
            cursor: pointer;
        }
        .artImageLetter {
            margin: 0;
            padding: 0;
            font-family: "Alegreya", serif;
            text-align: center;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 12pt;
            transition: .5s;
        }
        .artImage {
            position: absolute;

            max-width: 102%;
            max-height: 102%;
            object-fit: cover;

            border:none;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .bi-camera {
            border-radius: unset;
        }
        .imageEdit:hover .artImageLetter {
            opacity: .1;
            transition: .5s;
        }
        .removeImgBut {
            right: 20px;
            top: 30px;
            z-index: 1;
        }
        #fileName {
            position: absolute;
            bottom: -8px;
            right: 17px;
            font-size: 8pt;
            border-radius: 4px 0 0 0;
            background-color: #0a3350;
            padding: 8px;
            display: none;
        }
        #subClassMain {
            height: 0;
            margin: 0;
            opacity: 0;
            transition: .25s;
            pointer-events: none;
        }
        #subClassMain.show {
            height: 55px;
            margin-top: 12px;
            opacity: 1;
            transition: .25s;
            pointer-events: all;
        }
        .pointCounter {
            font-size: 10pt;
        }
        

block content
    div(class='row mt-2 mt-md-5')
        form#charForm(class='col-12 p-0 mx-auto' name='newChar' action='/users/newcharacter/user=' + thisUser._id method="POST" enctype="multipart/form-data")
            div(class='siteCont')
                h2(class='text-center') New Character
                hr
                div(class='row')
                    div(class='col-md-6 col-lg-4 pt-4' style='min-height: 200px; max-height: 405px;')
                        button#removeImgBut(class='buttonMain button removeImgBut cation' onclick='removeImage(); return false;' style='display: none;') X
                        label(class='w-100 h-100')
                            input#artWork(type='file' name='artWork' class='d-none file' data-type='image' onchange='setImage(this)')
                            div#artWorkCont(class='h-100 w-100 imageEdit' )
                                if fields.artWork
                                    img#artImage(src=fields.artWork class='artImage' data-orig=fields.artWork style='display: block;')
                                else
                                    p#artImageLetter(class='artImageLetter' style='font-size: 12pt;') Art Work
                                    img#artImage(src=null class='artImage' style='display: none;')
                                svg(xmlns="http://www.w3.org/2000/svg" class="bi bi-camera" viewBox="0 0 16 16")
                                    path(style='color: white;' d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z")
                                    path(d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z")
                            p#fileName File

                    div(class='col-md-6 col-lg-8 mt-2 mt-md-0')
                        div(class='input-set p-3 pt-0')
                            div(class='row')
                                div(class='col-9')
                                    div(class='formItem mt-0 w-100')
                                        p(class='formLabel') Character Name:
                                        input#name(class='formTextInput' type='text' data-req='true' name='name' value=fields.name tabindex=1)
                                div(class='col-3 mt-auto')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Level
                                        input(class='formNumInput small-input' type='number' value=0 name='level' tabindex=2)
                            div(class='formItem w-100')
                                p(class='formLabel') Race:  
                                    a(href='https://www.wargamer.com/dnd/races' target='_blank' data-tip='View Info on Races' style='color: white;')
                                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16")
                                            path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                            path(d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z")
                                //- input#race(class='formTextInput' type='text' name='race' value=fields.race tabindex='2')
                                select#race(name='race' class='formSelInput' tabindex=3)
                                    if fields.race
                                        for race in races.pureBlood
                                            if race == fields.race
                                                option(selected value=race)= race
                                            else
                                                option(value=race)= race
                                    else
                                        option(selected disabled) --- Select Race ---
                                        for race in races.pureBlood
                                            option(value=race)= race
                            div(class='w-100')
                                div(class='row mx-auto')
                                    div(class='formItem col-8 col-lg-10 pl-0')
                                        p(class='formLabel') Class:  
                                            a(href='https://www.wargamer.com/dnd/classes' target='_blank' data-tip='View Info on Classes' style='color: white;')
                                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16")
                                                    path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                                    path(d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z")
                                        //- input#class(class='formTextInput' type='text' name='class' value=fields.class tabindex='3')
                                        select#class(name='clas' class='formSelInput' onchange='unCheckBox()' tabindex=4)
                                            if fields.class
                                                for clas in classes.baseClasses
                                                    if clas.name == fields.class
                                                        option(selected value=clas.name)= clas.name
                                                    else
                                                        option(value=clas.name)= clas.name
                                            else
                                                option(selected disabled value=null) --- Select Class ---
                                                for clas in classes.baseClasses
                                                    option(value=clas.name)= clas.name
                                    div(class='formItem col-4 col-lg-2 text-center')
                                        label(class='') Subclass?
                                            input#isSub(type='checkbox' onchange='loadSubclass(this)'  checked=false)
                                            div(class='checkBox disabled' data-tip='Please select class before subclass')
                            
                            div#subClassMain(class='formItem w-100')
                                p(class='formLabel') Subclass:
                                select#subClass(name='subClass' class='formSelInput')
                                    option(selected disabled value=null) --- Select Subclass ---
                                    for clas in classes.baseClasses
                                        if clas.subClasses
                                            for sub in clas.subClasses
                                                option(value=sub data-class=clas.name disabled style='display: none;')= sub
                            
                            div(class='formItem w-100')
                                p(class='formLabel' style='white-space: nowrap;') Background:  
                                    a(href='https://www.wargamer.com/dnd/backgrounds-5e' target='_blank' data-tip='View Info on Backgrounds' style='color: white;')
                                        svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16")
                                            path(d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z")
                                            path(d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z")
                                //- input#background(class='formTextInput' type='text' name='background' value=fields.background tabindex='5')
                                select#background(name='background' class='formSelInput' cursor='pointer' tabindex=5)
                                    if fields.background
                                        for back in backgrounds.options
                                            if back == fields.background
                                                option(selected value=back)= back
                                            else
                                                option(value=back)= back
                                    else
                                        option(selected disabled) --- Select Background ---
                                        for back in backgrounds.options
                                            option(value=back)= back
                            div(class='formItem w-100')
                                p(class='formLabel') Alignment:
                                //- input#alignment(class='formTextInput' type='text' name='alignment' value=fields.alignment tabindex='6')
                                select#alignment(name='alignment' class='formSelInput' cursor='pointer' tabindex=6)
                                    if fields.alignment
                                        for align in alignments.options
                                            if align == fields.alignment
                                                option(selected value=align)= align
                                            else
                                                option(value=align)= align
                                    else
                                        option(selected disabled) --- Select Alignment ---
                                        for align in alignments.options
                                            option(value=align)= align
                

                //- div(class='formItem col-4 col-md-2')
                //-     p(class='formLabel' style='white-space: nowrap;') Experience Points:
                //-     input#experience(class='formTextInput' type='number' name='experience' tab-index=7 value=fields.experience tabindex='7')

                section(class='row mt-4 p-3 justify-content-between')
                    div(class='col-12 col-md-4 col-xl-2')
                        div(class='input-set p-2')
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Strength
                                input#strengthAtt(class='attribute' type='number' name='strengthAtt' value=0 tabindex=7)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#strength(class='formTextInput countable' value=10 type='number' name='strength')
                                        div(class='countVal row mx-auto' data-att='strength')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Dexterity
                                input#dexterityAtt(class='attribute' type='number' name='dexterityAtt' value=0 tabindex=8)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#dexterity(class='formTextInput countable' value=10 type='number' name='dexterity')
                                        div(class='countVal row mx-auto' data-att='dexterity')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Constitution
                                input#constitutionAtt(class='attribute' type='number' name='constitutionAtt' value=0 tabindex=9)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#constitution(class='formTextInput countable' value=10 type='number' name='constitution')
                                        div(class='countVal row mx-auto' data-att='constitution')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Intelligence
                                input#intelligenceAtt(class='attribute' type='number' name='intelligenceAtt' value=0 tabindex=10)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#intelligence(class='formTextInput countable' value=10 type='number' name='intelligence')
                                        div(class='countVal row mx-auto' data-att='intelligence')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Wisdom
                                input#wisdomAtt(class='attribute' type='number' name='wisdomAtt' value=0 tabindex=11)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#wisdom(class='formTextInput countable' value=10 type='number' name='wisdom')
                                        div(class='countVal row mx-auto' data-att='wisdom')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row w-100 mx-auto mt-2 input-box')
                                label(class='formLabel w-100 mb-0 text-center' for='strength') Charisma
                                input#charismaAtt(class='attribute' type='number' name='charismaAtt' value=0 tabindex=12)
                                div(class='col-12 p-0')
                                    div(class='w-100')
                                        span(class='point-cost')
                                        input#charisma(class='formTextInput countable' value=10 type='number' name='charisma')
                                        div(class='countVal row mx-auto' data-att='charisma')
                                            div(class='col-3 px-0 countBut min' onclick='checkPoints(this, false); countAttribute(this)') -
                                            div(class='col-6 px-0 text-center countNum') 10
                                            div(class='col-3 px-0 countBut plus' onclick='checkPoints(this, true); countAttribute(this)') + 
                            div(class='row')
                                div(class='col-12 mt-1 mt-md-5 pointCounter')
                                    p Remaining points: 
                                        span#points 20
                    div(class='col-12 col-md-6 col-xl-3 mt-3 mt-md-0')
                        div(class='row')
                            div(class='formItem col-12 mt-0')                    
                                label(class='formLabel w-100' style='white-space: nowrap;') Proficiency Bonus:
                                    span
                                    input#porficiencyBonus(class='formTextInput countable' min=0 max=20 value=0 type='number' name='proficiencyBonus')
                                    div(class='countVal row mx-auto')
                                        div(class='col-3 px-0 countBut min' onclick='shiftNum(this, false)') -
                                        div(class='col-6 px-0 text-center countNum') 0
                                        div(class='col-3 px-0 countBut plus' onclick='shiftNum(this, true)') + 
                            div(class='formItem col-12')                    
                                label(class='formLabel w-100' style='white-space: nowrap;') Inspiration:
                                    span
                                    input#inspiration(class='formTextInput countable' min=0 max=20 value=0 type='number' name='inspiration')
                                    div(class='countVal row mx-auto')
                                        div(class='col-3 px-0 countBut min' onclick='shiftNum(this, false)') -
                                        div(class='col-6 px-0 text-center countNum') 0
                                        div(class='col-3 px-0 countBut plus' onclick='shiftNum(this, true)') + 
                        div(class='row mt-3')
                            div(class='col-12 ')
                                div(class='input-set p-3')
                                    p(class='formLabel text-center mb-2') Saving Throws
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Strength
                                        input(class='formNumInput small-input' type='number' value=0 name='strengthSave')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Dexterity
                                        input(class='formNumInput small-input' type='number' value=0 name='dexteritySave')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Constitution
                                        input(class='formNumInput small-input' type='number' value=0 name='constitutionSave')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Intelligence
                                        input(class='formNumInput small-input' type='number' value=0 name='intelligenceSave')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Wisdom
                                        input(class='formNumInput small-input' type='number' value=0 name='wisdomSave')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Charisma
                                        input(class='formNumInput small-input' type='number' value=0 name='charismaSave')
                        div(class='row mt-3')
                            div(class='col-12 ')
                                div(class='input-set p-3')
                                    p(class='formLabel text-center mb-2') Skills
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Acrobatics
                                            span(class='faded')  (Dex)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillAcrobatics')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Animal Handeling
                                            span(class='faded')  (Wis)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillAnimalHandeling')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Arcana
                                            span(class='faded')  (Int)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillArcana')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Athletics
                                            span(class='faded')  (Str)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillAthletics')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Deception
                                            span(class='faded')  (Cha)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillDeception')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') History
                                            span(class='faded')  (Int)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillHistory')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Insight
                                            span(class='faded')  (Wis)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillInsight')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Intimidation
                                            span(class='faded')  (Cha)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillIntimidation')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Investigation
                                            span(class='faded')  (Int)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillInvestigation')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Medicine
                                            span(class='faded')  (Wis)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillMedicine')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Nature
                                            span(class='faded')  (Int)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillNature')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Perception
                                            span(class='faded')  (Wis)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillPerception')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Perfomance
                                            span(class='faded')  (Cha)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillPerformance')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Persuasion
                                            span(class='faded')  (Cha)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillPersuasion')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Religion
                                            span(class='faded')  (Int)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillReligion')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Sleight of Hand
                                            span(class='faded')  (Dex)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillSleightOfHand')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Stealth
                                            span(class='faded')  (Dex)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillStealth')
                                    div(class='input-item input-back')
                                        label(class='small-label mr-4') Survival
                                            span(class='faded')  (Wis)
                                        input(class='formNumInput small-input' type='number' value=0 name='skillSurvival')
                                        
                                        
                                    
                        


                    div(class='col-12 mx-auto col-xl-6 mt-3 mt-xl-0')
                        div(class='row input-set p-3 justify-content-between')
                            div(class='col-4')
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='armourClass' value=0 placeholder=0)
                                    label(class='formLabel text-center') Armour Class
                            div(class='col-4')    
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='initiative' value=0 placeholder=0)
                                    label(class='formLabel text-center') Initiative
                            div(class='col-4')    
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='speed' value=0 placeholder=0)
                                    label(class='formLabel text-center') Speed
                            div(class='col-4 mt-2 ml-auto')
                                div(class='input-item input-back')
                                    input(class='formNumInput small-input' type='number' name='maxHitPoints' value=0 placeholder=0)
                                    label(class='formLabel  small-label') Max Hit Points
                            div(class='col-12 ')
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='hitPoints' value=0 placeholder=0)
                                    label(class='formLabel text-center') Current Hit Points
                            div(class='col-12 mb-2')
                                div(class='input-item input-box text-center mt-2')
                                    input(class='large-num-input' type='number' name='temporaryHitPoints' value=0 placeholder=0)
                                    label(class='formLabel text-center') Temporary Hit Points
                            div(class='row w-100 mx-auto')
                                div(class='col-5 mt-2')
                                    div(class='input-item input-back')
                                        input(class='formNumInput small-input' type='number' name='totalHitDice' value=0 placeholder=0)
                                        label(class='formLabel  small-label') Total Hit Dice
                            div(class='col-5')
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='hitDice' value=0 placeholder=0)
                                    label(class='formLabel text-center') Hit Dice
                            div(class='col-5')
                                div(class='input-item input-box text-center')
                                    input(class='large-num-input' type='number' name='deathSaves' value=0 placeholder=0)
                                    label(class='formLabel text-center') Death Saves
                        div(class='row')
                            div(class='col-12 input-set pb-3 mt-3')
                                div(class='formItem')
                                    p(class='formLabel') Attacks and Spells:
                                    div(data-name='attacks' data-placeHolder="What can your character do?" class='richEdit')
                                    input#attacks(style='display: none;' data-req='true' name='attacks' type='text' value=fields.attacks)
                        div(class='row input-set mt-3 pb-3')
                            div(class='col-12 pb-3 ')
                                div(class='formItem')
                                    p(class='formLabel') Equipment:
                                    div(data-name='equipment' data-placeHolder="What does your character have in those impossible pockets?" class='richEdit')
                                    input#equipment(style='display: none;' data-req='true' name='equipment' type='text' value=fields.equipment)
                            div(class='col-2 pr-0')
                                div(class='input-item input-back')
                                    label(class='formLabel  small-label') CP
                                    input(class='formNumInput small-input' type='number' name='cp' value=0 placeholder=0)
                            div(class='col-2 pr-0')
                                div(class='input-item input-back')
                                    label(class='formLabel  small-label') SP
                                    input(class='formNumInput small-input' type='number' name='sp' value=0 placeholder=0)
                            div(class='col-2 pr-0')
                                div(class='input-item input-back')
                                    label(class='formLabel  small-label') EP
                                    input(class='formNumInput small-input' type='number' name='ep' value=0 placeholder=0)
                            div(class='col-2 pr-0')
                                div(class='input-item input-back')
                                    label(class='formLabel  small-label') GP
                                    input(class='formNumInput small-input' type='number' name='gp' value=0 placeholder=0)
                            div(class='col-2 pr-0')
                                div(class='input-item input-back')
                                    label(class='formLabel  small-label') PP
                                    input(class='formNumInput small-input' type='number' name='pp' value=0 placeholder=0)
                                    
                    
                    
                
                div(class='row')
                    div(class='col-12')
                        div(class='formItem')
                            p(class='formLabel') Character History:
                            div(data-name='history' data-placeHolder="Tell us of your journey." class='richEdit')
                            input#history(style='display: none;' data-req='true' name='history' type='text' value=fields.history)
                    div(class='col-md-6')
                        div(class='formItem')
                            p(class='formLabel') Personality:
                            div(data-name='personality' data-placeHolder="So, how crazy are you?" class='richEdit')
                            input#personality(style='display: none;' name='personality' type='text' value=fields.personality)
                    div(class='col-md-6')
                        div(class='formItem')
                            p(class='formLabel') Ideals:
                            div(data-name='ideals' data-placeHolder="What is your code?" class='richEdit')
                            input#ideals(style='display: none;' name='ideals' type='text' value=fields.ideals)
                    div(class='col-md-6')
                        div(class='formItem')
                            p(class='formLabel') Bonds:
                            div(data-name='bonds' data-placeHolder="What keeps you ticking?" class='richEdit')
                            input#bonds(style='display: none;' name='bonds' type='text' value=fields.bonds)
                    div(class='col-md-6')
                        div(class='formItem')
                            p(class='formLabel') Flaws:
                            div(data-name='flaws' data-placeHolder="How will you mess things up, I wonder?" class='richEdit')
                            input#flaws(style='display: none;' name='flaws' type='text' value=fields.flaws)
                                
            
                div(class='row')
                    div(class='col-12')
                        div(class='formItem')
                            p(class='formLabel') Notes:
                            div(data-name='notes' data-placeHolder="What doesn't quite fit?" class='richEdit')
                            input#notes(style='display: none;' name='notes' type='text' value=fields.notes)
            
                div(class='formItem text-right my-4' )
                    button#formButton(class='buttonMain button great col-12 col-md-3' onclick='updateInput()')
                        div(class='buttonText')
                            img#loadingGif(class='loadingGif' style='display: none;' src='/images/loading.gif')
                            p#saveText Save
            div
                ul#errorText(class='w-100 px-3 mt-2 mx-auto errorText' style='display: none;')
                    
        
      
    
    script.
        var img
        var count = 60

        document.querySelectorAll('input[type="number"]').forEach(inp => {
            inp.classList.contains('countable') ? inp.value = 10 : inp.value = 0
        })

        document.addEventListener("DOMContentLoaded", function() {
            var numInputs = document.getElementsByClassName('countable')
            for(var i = 0; i < numInputs.length; i++) {
                var inp = numInputs[i]
                if(inp.classList.contains('countPool')) {
                    inp.value = 10
                } else {
                    inp.value = 0
                }
            }
            document.getElementsByClassName('isSub').checked = false

        });

        var form = document.querySelector('#charForm')
        form.addEventListener('submit', e => {
            e.preventDefault();
        });

        
        function shiftNum(field, inc) {
            let valText = field.parentNode.children[1]
            let input = field.parentNode.parentNode.children[1]
            let val = parseInt(input.value)
            
            inc ? val++ : val--

            input.min ? val < input.min ? val = input.min : null : null
            input.max ? val > input.max ? val = input.max : null : null

            input.value = val
            valText.innerHTML = val
        }

        function countAttribute(button) {
            const att = document.getElementById(`${button.parentNode.getAttribute('data-att')}Att`)
            const val = button.parentNode.parentNode.children[1].value

            let math = (val - 10) / 2

            Number.isInteger(math) ? math > 0 ? att.value = `+${math}` : att.value = math : null

            //- console.log(math)

        }


        function checkPoints(field, inc) {
            var remText = document.getElementById('points')
            var valText = field.parentNode.children[1]
            var costText = field.parentNode.parentNode.children[0]
            var input = field.parentNode.parentNode.children[1]
            var val = 10
            var change = 1

            if(parseInt(valText.innerHTML) == 10) {
                val = 10
                input.value = 10
            }
            
            var oldVal = parseInt(input.value)
            
            if(inc) {
                val = oldVal + 1
            } else {
                val = oldVal - 1
            }

            if(val > 13) {
                costText.innerHTML = 'Cost: +1'
                change = 2
                if(val > 16) {
                    costText.innerHTML = 'Cost: +2'
                    change = 3
                    if(val > 19) {
                        costText.innerHTML = 'Cost: +3'
                        change = 4
                        if(val > 22) {
                            costText.innerHTML = 'Cost: +4'
                            change = 5
                            if(val > 25) {
                                costText.innerHTML = 'Cost: +5'
                                change = 6
                                if(val > 28) {
                                    costText.innerHTML = 'Cost: +6'
                                    change = 7
                                } else {
                                    if(val == 28) {
                                        if(!inc) {
                                            change = 7
                                        }
                                    }
                                }
                            } else {
                                if(val == 25) {
                                    if(!inc) {
                                        change = 6
                                    }
                                }
                            }
                        } else {
                            if(val == 22) {
                                if(!inc) {
                                    change = 5
                                }
                            }
                        }
                    } else {
                        if(val == 19) {
                            if(!inc) {
                                change = 4
                            }
                        }
                    }
                }  else {
                    if(val == 16) {
                        if(!inc) {
                            change = 3
                        }
                    }
                }
            } else {
                if(val == 13) {
                    if(!inc) {
                        costText.innerHTML = ' +1'
                        change = 2
                    }
                }
            }
            if(val < 14) {
                costText.innerHTML = ''
            }
            
            //- Prevents increases of points above 80
            //- Prevents decreses of points below 0;
            //- Remove if checks if you want to go beyond those limits.
            if(inc) {
                if(80 - (count + change) > -1) {
                    count += change

                    remText.innerHTML = 80 - count
                    input.value = val
                    valText.innerHTML = val
                }
            } else {
                if(val > -1) {
                    count -= change

                    remText.innerHTML = 80 - count
                    input.value = val
                    valText.innerHTML = val
                }
            }
        }

        async function updateDataBase() {
            var saveText = document.getElementById('saveText')
            var gif = document.getElementById('loadingGif')            
            gif.style.display = 'block'
            saveText.style.display = 'none'

            var errors = await checkForErrors(null, 'characters_players')

            if(errors) {
                var err = document.getElementById('errorText')
                err.innerHTML = ''

                for(var i = 0; i < errors.length; i++) {
                    var li = document.createElement('li')
                    li.innerHTML = errors[i]
                    err.append(li)
                }
                err.style.display = 'block'

                gif.style.display = 'none'
                saveText.style.display = 'block'

                window.scrollTo(0, document.body.scrollHeight);
            } else {
                await updateInput()
                document.getElementById('charForm').submit()
            }
        }

        function togglePass(show) {
            var passCont = document.getElementById('newPass')
            var passBut = document.getElementById('passBut')
            var fields = passCont.children
            if(show) {
                passCont.style.display = 'block'
                passBut.classList.remove('saveButtonVisible')
            } else {
                passCont.style.display = 'none'
                passBut.classList.add('saveButtonVisible')
                fields[0].value = ''
                fields[1].value = ''
            }
        }

        function setImage(files) {
            var file = files.files[0];
            var imgReader = new FileReader();
            var imgCont =  document.getElementById('artImage')

            imgReader.onloadend = function() {
                
                imgCont.src = imgReader.result
                imgCont.style.display = 'block'

                img = file

                document.getElementById('fileName').innerHTML = file.name
                document.getElementById('fileName').style.display = 'block'
                document.getElementById('removeImgBut').style.display = 'block'
            }
            imgReader.readAsDataURL(file);
        }

        function removeImage() {
            var img =  document.getElementById('artImage')
            var imgCont =  document.getElementById('artWorkCont')
            var file = document.getElementById('artWork')

            imgCont.classList.remove('error')
            img.src = ''
            document.getElementById('fileName').style.display = 'none'
            document.getElementById('removeImgBut').style.display = 'none'
            file.value = null
        }

        function unCheckBox() {
            var box = document.getElementById("isSub")
            var div = box.parentNode.children[1]
            box.checked = false
            div.classList.remove('disabled')
            div.setAttribute('data-tip', 'Add subclass?')
            loadSubclass(box)
        }

        function loadSubclass(box) {
            var subItem = document.getElementById('subClassMain')
            var className = document.getElementById('class')
            var value = className.options[className.selectedIndex].value;
            var subs = false
            if(value == '--- Select Class ---') {
                box.checked = false
                box.parentNode.children[1].classList.add('disabled')
            } else {
                box.parentNode.children[1].classList.remove('disabled')
            }
            if(box.checked) {
                for(var i = 0; i < subItem.children[1].children.length; i++) {
                    var op = subItem.children[1].children[i]
                    if(op.getAttribute("data-class") == value) {
                        subs = true
                        op.disabled = false
                        op.style.display = 'unset'
                    } else {
                        if(op.value == '--- Select Subclass ---'  || op.value == null) {
                            op.selected = true
                            op.style.display = 'unset'
                        }
                    }
                }
                if(subs) {
                    subItem.classList.add('show')
                } else {
                    box.checked = false
                }
                
            } else {
                for(var i = 0; i < subItem.children[1].children.length; i++) {
                    var op = subItem.children[1].children[i]
                    if(op.value != '--- Select Subclass ---' || op.value != null) {
                        op.disabled = true
                        op.selected = false
                        op.style.display = 'none'
                    } else {
                        op.selected = true
                        op.style.display = 'unset'
                    }
                }
                subItem.classList.remove('show')
            }
        }