extends ../layout

block head
  title= title + 'Shop'

  style.
    #bal.out {
        animation-name: out;
        animation-duration: 1s;
    }
    #weight.out {
        animation-name: out;
        animation-duration: 1s;
    }
    @keyframes out {
        0%{color: white;}
        50%{color: red;}
        100%{color: white;}
    }


block content
    div(class='row mt-5')
        div(class='col-11')
            div(class='siteCont')
                h3(class='text-center') Shoping for 
                    = char.name
                p Current Balance: 
                    span#bal= char.wealth
                        | gp
                    | &nbsp;&nbsp;
                    span Available Weight: 
                        span#weight= char.maxWeight
                            | lb
                hr
                div(class='row mx-auto')
                    -var currType
                    for typ in types
                        for item in shop.items
                            if item.type == typ.name
                                if item.type != currType
                                    -currType = typ.name
                                    div(class='col-12')
                                        h3= item.type
                                div(class='col-lg-6')
                                    div(class='shopItem' )
                                        div(class='oops')
                                            p
                                        div(class='itemDetails')
                                            div(class='toggleInfoBut' onclick='toggleInfo(this)')
                                                svg(xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16")
                                                    path(d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z")
                                            p Type: 
                                                = item.type
                                            p Strength: 
                                                = item.strength
                                            p Stealth: 
                                                = item.stealth
                                            p Class: 
                                                = item.class
                                        div(id=item.name class='shop row' onclick='selectItem(this)' data-cost=item.cost data-weight=item.weight)
                                            label(class='col-2 shopCheck')
                                                input(type='checkbox' checked=false)
                                                div

                                            div(class='col-10')
                                                

                                                p(class='m-0 itemName')= item.name
                                                    
                                                p(class='m-0 ')
                                                    div(class='row mx-auto itemInfo')
                                                        div(class='col-12 pl-0')
                                                            | Cost: 
                                                            =item.cost
                                                            | gp
                                                            | &nbsp;&nbsp;
                                                            | Weight: 
                                                            =item.weight
                                                            | lb
    
    script.

        document.addEventListener("DOMContentLoaded", function() {
            var boxes = document.querySelectorAll('input[type=checkbox]')
            for(var i = 0; i < boxes.length; i++) {
                boxes[i].checked = false
            }
        });


        function selectItem(item) {
            var main = item.parentNode
            var errorMsg = main.children[0]
            var box = item.children[0].children[0]
            var balText = document.getElementById('bal')
            var weightText = document.getElementById('weight')
            var balance = parseInt(balText.innerHTML)
            var weight = parseInt(weightText.innerHTML)
            var cost = parseInt(item.getAttribute('data-cost'))
            var heft = parseInt(item.getAttribute('data-weight'))
            var newBal
            var newWeight

            balText.classList.remove('out')
            weightText.classList.remove('out')
            errorMsg.classList.remove('show')

            if(box.checked) {
                newBal = balance + cost
                newWeight = weight + heft

                balText.innerHTML = newBal + 'gp'
                weightText.innerHTML = newWeight + 'lb'

                box.checked = false
                main.classList.remove('selected')
            } else {
                if(balance - cost > -1) {
                    if(weight - heft > -1) {
                        newBal = balance - cost
                        newWeight = weight - heft

                        balText.innerHTML = newBal + 'gp'
                        weightText.innerHTML = newWeight + 'lb'

                        box.checked = true
                        main.classList.add('selected')
                    } else {
                        errorMsg.children[0].innerHTML = 'Adding item will excede weight limit.'
                        errorMsg.classList.add('show')
                        weightText.classList.add('out')
                    }
                } else {
                    errorMsg.children[0].innerHTML = 'Adding item will excede available balance.'
                    errorMsg.classList.add('show')
                    balText.classList.add('out')
                }
            }
            setTimeout(removeClass, 5000)
            function removeClass() {
                errorMsg.classList.remove('show')
            }
            
        }

        function toggleInfo(item) {
            var main = item.parentNode.parentNode
            if(main.classList.contains('toggled')) {
                main.classList.remove('toggled')
            } else {
                main.classList.add('toggled')
            }
        }